/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  background-color: #1c1c1c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ea002a' fill-opacity='0.1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  padding: 1rem 14rem; }
  @media only screen and (max-width: 78em) {
    body {
      padding: 0 10rem; } }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0 4rem; } }
  @media only screen and (max-width: 40.625em) {
    body {
      padding: 0 2rem; } }

body {
  font-family: "Lato", sans-serif, sans-serif;
  color: #fbfbfb; }

h1 {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 1rem;
  text-align: center; }

.heading-secondary {
  color: #ea002a;
  font-size: 3.5rem;
  letter-spacing: 1.7px;
  text-transform: capitalize; }

.text--small {
  letter-spacing: 1.5px;
  font-size: 1.3rem;
  line-height: 2rem; }

.text--big {
  letter-spacing: 1.75px;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300; }

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 0.25rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-xs {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 5.5rem !important; }

.u-margin-bottom-large {
  margin-bottom: 7.5rem !important; }

.u-margin-0 {
  margin: 0 !important; }

.u-padding-0 {
  padding: 0 !important; }

.hidden {
  display: none; }

.active--link {
  color: #ea002a !important; }
  .active--link::after {
    content: "";
    margin-top: 5px !important;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ea002a;
    transform: scaleX(1) !important; }

.helper-class--handouts {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.helper-class--ham-btn {
  right: 3rem !important;
  top: 4rem !important; }
  .helper-class--ham-btn::after, .helper-class--ham-btn::before,
  .helper-class--ham-btn .ham-btn__line {
    width: 3rem !important;
    height: 5px !important; }
    @media only screen and (max-width: 68.75em) {
      .helper-class--ham-btn::after, .helper-class--ham-btn::before,
      .helper-class--ham-btn .ham-btn__line {
        width: 3.5rem !important;
        height: 4.5px !important; } }
  .helper-class--ham-btn::after {
    top: 2rem !important; }

.posToBottom {
  bottom: 0; }

.resetPos {
  position: static; }

.carousel-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 7rem;
  box-shadow: 3px 3px 6px #000101; }

.carousel {
  width: 100%;
  max-height: 50rem;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth; }
  .carousel__img-box {
    position: relative;
    flex: 1 0 100%;
    overflow: hidden;
    border-radius: 2px; }
    .carousel__img-box::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to top left, rgba(0, 1, 1, 0.3) 0%, rgba(0, 1, 1, 0.3) 25%, rgba(0, 1, 1, 0.2) 25%, rgba(0, 1, 1, 0.2) 50%, rgba(0, 1, 1, 0.1) 50%, rgba(0, 1, 1, 0.1) 75%, rgba(0, 1, 1, 0.05) 75%, rgba(0, 1, 1, 0.05) 100%);
      opacity: 0.8;
      z-index: 1; }
    .carousel__img-box:hover img {
      transform: scale(1.05);
      filter: brightness(1.1); }
  .carousel__img {
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s; }

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 10; }

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1; }

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0; }

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem; }

.counter {
  border-top: 3px solid #fbfbfb;
  border-bottom: 3px solid #fbfbfb;
  padding: 7rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .counter {
      flex-direction: column;
      padding: 3rem 0; } }
  .counter__column {
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media only screen and (max-width: 40.625em) {
      .counter__column:not(:last-child) {
        margin-bottom: 3rem; } }
  .counter__number {
    font-size: 12rem;
    font-weight: bold; }
    @media only screen and (max-width: 40.625em) {
      .counter__number {
        font-size: 8rem; } }
  .counter__disc {
    font-size: 5rem; }
    @media only screen and (max-width: 40.625em) {
      .counter__disc {
        font-size: 3rem; } }

.post {
  width: 100%;
  background-color: #2a2a2e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1.5rem 4rem rgba(0, 1, 1, 0.7);
  overflow: hidden;
  text-align: center; }
  .post__img-box {
    position: relative;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 15rem;
    max-height: 25vh; }
    .post__img-box::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to top left, rgba(0, 1, 1, 0.3) 0%, rgba(0, 1, 1, 0.3) 25%, rgba(0, 1, 1, 0.2) 25%, rgba(0, 1, 1, 0.2) 50%, rgba(0, 1, 1, 0.1) 50%, rgba(0, 1, 1, 0.1) 75%, rgba(0, 1, 1, 0.05) 75%, rgba(0, 1, 1, 0.05) 100%);
      opacity: 1;
      z-index: 1; }
    .post__img-box::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #ea002a;
      transform: scaleX(0);
      transform-origin: -100%;
      transition: all 0.5s ease-out; }
  .post__img {
    width: 100%;
    background-size: cover;
    transition: all 0.3s ease-in-out; }
  .post__text-container {
    padding: 2rem; }
    .post__text-container .heading-secondary {
      font-size: 2.8rem;
      text-shadow: 0 3px 5px rgba(0, 1, 1, 0.4);
      font-weight: 400;
      transition: all 0.2s; }
  .post:hover img {
    transform: scale(1.05);
    filter: brightness(1.05); }
  .post:hover .post__img-box::after {
    transform: scaleX(1); }
  .post:hover .heading-secondary {
    transform: translateY(-2px) scale(1.02);
    text-shadow: 0 5px 7px rgba(0, 1, 1, 0.4);
    filter: brightness(1.05); }

.ham-btn {
  position: fixed;
  right: 3rem;
  top: 4rem;
  height: 5rem;
  width: 5rem;
  border-radius: 8px;
  padding: 0.5rem 0;
  z-index: 1000;
  cursor: pointer; }
  .ham-btn__line {
    position: relative;
    background-color: #fbfbfb;
    border-radius: 50px;
    width: 3.5rem;
    height: 4.5px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s; }
  .ham-btn::after, .ham-btn::before {
    content: "";
    display: block;
    background-color: #fbfbfb;
    border-radius: 50px;
    width: 3.5rem;
    height: 4.5px;
    transition: all 0.1s; }
  .ham-btn::before {
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%); }
  .ham-btn::after {
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%); }
  @media only screen and (max-width: 68.75em) {
    .ham-btn {
      display: inline-block; } }

.ham-btn--toggled .ham-btn__line {
  transform: translate(-50%, 20%) rotate(45deg); }

.ham-btn--toggled::before {
  display: none; }

.ham-btn--toggled::after {
  transform: translate(-50%, -145%) rotate(-45deg);
  height: 3.5px; }

.card {
  display: flex;
  max-width: 70%;
  margin: 8rem auto;
  box-shadow: 0 10px 6px #000000;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden; }
  @media only screen and (max-width: 78em) {
    .card {
      flex-direction: column; } }
  .card__left {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2e;
    padding: 3.5rem 3rem;
    width: 70%;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 100%); }
    @media only screen and (max-width: 78em) {
      .card__left {
        width: 100%; } }
  .card__right {
    display: flex;
    flex-direction: column;
    border-left: 2px dashed #fbfbfb;
    padding: 3rem;
    padding-left: 5%;
    width: 30%;
    justify-content: space-between;
    background-color: #2a2a2e; }
    @media only screen and (max-width: 78em) {
      .card__right {
        flex-direction: row;
        justify-content: space-around;
        width: 100%; } }
    @media only screen and (max-width: 40.625em) {
      .card__right {
        flex-direction: column; } }
  .card__content-box {
    text-align: left; }
    .card__content-box h3 {
      text-transform: capitalize;
      font-size: 2.75rem;
      font-weight: 400;
      letter-spacing: 0.25rem; }
    .card__content-box p {
      padding-left: 1rem;
      font-size: 1.4rem;
      font-weight: bolder;
      text-transform: capitalize; }
    @media only screen and (max-width: 40.625em) {
      .card__content-box {
        margin-top: 2rem; }
        .card__content-box:last-of-type {
          margin-bottom: 2rem; } }
  .card__heading {
    align-self: flex-start;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-bottom: 2px solid #ea002a; }
    @media only screen and (max-width: 40.625em) {
      .card__heading {
        align-self: center; } }
  .card__text {
    padding-left: 2rem;
    letter-spacing: 0.08rem;
    font-size: 1.5rem;
    line-height: 2rem; }
    @media only screen and (max-width: 40.625em) {
      .card__text {
        padding-left: 0;
        text-align: center; } }

.btn-group {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 82em) {
    .btn-group {
      flex-direction: column;
      align-items: stretch; } }

.btn, .btn:link, .btn:visited {
  text-align: center;
  border-radius: 10rem;
  outline: none;
  padding: 1rem 3rem;
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  cursor: pointer;
  position: relative; }
  @media only screen and (max-width: 82em) {
    .btn, .btn:link, .btn:visited {
      margin-top: 1.5rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 1, 1, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 1, 1, 0.2); }

.btn--red {
  background-color: #ea002a;
  color: #fbfbfb; }

.btn--white {
  background-color: #fbfbfb;
  color: #ea002a; }

.btn:not(:last-of-type) {
  margin-right: 2rem; }
  @media only screen and (max-width: 82em) {
    .btn:not(:last-of-type) {
      margin-right: 0; } }

.arrow {
  z-index: 100; }
  .arrow, .arrow:link, .arrow:visited {
    width: 5rem;
    min-height: 5rem;
    color: #fbfbfb;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 50%;
    text-align: center;
    position: relative; }
  .arrow__left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%); }
  .arrow__right {
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    transform: translate(62%, -50%); }
  .arrow:hover {
    color: #ea002a;
    background-color: #fbfbfb; }
  .arrow:active {
    filter: brightness(0.8);
    transform: translateY(2px); }

.display-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  @media only screen and (max-width: 56.25em) {
    .display-container {
      flex-direction: column;
      position: absolute; } }

.display-item {
  display: flex;
  width: 100%;
  min-height: 100vh;
  transition: all 0.5s linear;
  position: relative;
  perspective: 200rem;
  overflow: hidden; }
  .display-item__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    height: 100%; }
    .display-item__side--front {
      position: relative;
      background-size: cover;
      background-position: center; }
      .display-item__side--front--1 {
        background-image: linear-gradient(to top left, rgba(0, 1, 1, 0.3) 0%, rgba(0, 1, 1, 0.3) 25%, rgba(0, 1, 1, 0.2) 25%, rgba(0, 1, 1, 0.2) 50%, rgba(0, 1, 1, 0.1) 50%, rgba(0, 1, 1, 0.1) 75%, rgba(0, 1, 1, 0.05) 75%, rgba(0, 1, 1, 0.05) 100%), url(../../img/comp-1.jpg); }
      .display-item__side--front--2 {
        background-image: linear-gradient(to top left, rgba(0, 1, 1, 0.3) 0%, rgba(0, 1, 1, 0.3) 25%, rgba(0, 1, 1, 0.2) 25%, rgba(0, 1, 1, 0.2) 50%, rgba(0, 1, 1, 0.1) 50%, rgba(0, 1, 1, 0.1) 75%, rgba(0, 1, 1, 0.05) 75%, rgba(0, 1, 1, 0.05) 100%), url(../../img/comp-2.jpg); }
      .display-item__side--front--3 {
        background-image: linear-gradient(to top left, rgba(0, 1, 1, 0.3) 0%, rgba(0, 1, 1, 0.3) 25%, rgba(0, 1, 1, 0.2) 25%, rgba(0, 1, 1, 0.2) 50%, rgba(0, 1, 1, 0.1) 50%, rgba(0, 1, 1, 0.1) 75%, rgba(0, 1, 1, 0.05) 75%, rgba(0, 1, 1, 0.05) 100%), url(../../img/comp-3.jpg); }
    .display-item__side--back {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transform: rotateY(180deg);
      background-color: rgba(251, 251, 251, 0.1);
      padding: 8rem 1rem; }
      .display-item__side--back .btn-group {
        flex-direction: column;
        align-items: stretch; }
        @media only screen and (max-width: 56.25em) {
          .display-item__side--back .btn-group {
            flex-direction: row;
            justify-content: center;
            align-items: center; } }
        @media only screen and (max-width: 40.625em) {
          .display-item__side--back .btn-group {
            flex-direction: column;
            align-items: stretch; } }
        .display-item__side--back .btn-group .btn--red {
          margin-right: 0; }
          @media only screen and (max-width: 56.25em) {
            .display-item__side--back .btn-group .btn--red {
              margin-right: 3rem;
              margin-bottom: 0rem; } }
          @media only screen and (max-width: 40.625em) {
            .display-item__side--back .btn-group .btn--red {
              margin-right: 0; } }
  .display-item__heading {
    width: 100%;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    text-transform: uppercase; }
  .display-item__details {
    width: 90%;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .display-item__details {
        font-size: calc(100% * 1.7);
        width: 70%;
        line-height: 3rem; } }
  .display-item:hover .display-item__side--front {
    transform: rotateY(-180deg); }
  .display-item:hover .display-item__side--back {
    transform: rotateY(0); }

.sessions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 6.5rem;
  padding-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .sessions-container {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 40.625em) {
    .sessions-container {
      grid-template-columns: 1fr; } }

.session-card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 6px #000101;
  cursor: pointer; }
  @media only screen and (max-width: 40.625em) {
    .session-card {
      width: 70%; } }
  .session-card__img-box {
    position: relative;
    width: 100%;
    max-height: 100%; }
    .session-card__img-box::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 100%);
      opacity: 0.5;
      z-index: 1; }
  .session-card__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
    backface-visibility: hidden; }
  .session-card__disc {
    position: absolute;
    bottom: 1.2rem;
    left: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    transform: translateY(200%);
    transition: transform 0.2s ease-out;
    background-color: rgba(0, 1, 1, 0.5);
    width: 100%;
    padding: 2rem 4rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  .session-card:hover .session-card__disc {
    transform: translate(-7%, 22%) scale(1.02); }
    @media only screen and (max-width: 56.25em) {
      .session-card:hover .session-card__disc {
        transform: translate(-5%, 22%) scale(1.02); } }
  .session-card:hover .session-card__img-box .session-card__img {
    transform: scale(1.05); }
  .session-card:hover .play-button {
    transform: translate(-50%, -52%); }
  .session-card .play-button:active {
    transform: translate(-50%, -50%); }

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  z-index: 2;
  transition: all 0.2s; }
  .play-button:hover {
    transform: translate(-50%, -52%); }
  .play-button:active {
    transform: translate(-50%, -50%); }
    .play-button:active .circle {
      filter: brightness(90%); }

.circle {
  background: #ea002a;
  border-radius: 50%;
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.051), 0 2.3px 5.3px rgba(0, 0, 0, 0.059), 0 4.4px 10px rgba(0, 0, 0, 0.06), 0 7.8px 17.9px rgba(0, 0, 0, 0.059), 0 14.6px 33.4px rgba(0, 0, 0, 0.059), 0 35px 80px rgba(0, 0, 0, 0.07);
  height: 100%;
  position: absolute;
  width: 100%; }

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  height: 5rem;
  width: 5rem; }

.project {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .project {
      flex-direction: column; } }
  .project:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 40.625em) {
      .project:not(:last-child) {
        margin-bottom: 10rem; } }
  .project__img-box {
    position: relative;
    max-width: 30rem;
    height: 100%;
    box-shadow: -50px -50px 0 -40px #ea002a, 50px 50px 0 -40px #ea002a;
    margin-right: 10%;
    overflow: hidden;
    cursor: pointer; }
    @media only screen and (max-width: 40.625em) {
      .project__img-box {
        margin-bottom: 6rem;
        max-width: 70%;
        margin-right: 0; } }
    .project__img-box::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to top left, rgba(0, 1, 1, 0.3) 0%, rgba(0, 1, 1, 0.3) 25%, rgba(0, 1, 1, 0.2) 25%, rgba(0, 1, 1, 0.2) 50%, rgba(0, 1, 1, 0.1) 50%, rgba(0, 1, 1, 0.1) 75%, rgba(0, 1, 1, 0.05) 75%, rgba(0, 1, 1, 0.05) 100%);
      opacity: 0.7;
      z-index: 1; }
    .project__img-box:hover > img {
      transform: scale(1.05);
      filter: brightness(130%); }
  .project__img {
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all 0.2s; }
  .project__disc-box {
    width: 80%; }
    @media only screen and (max-width: 40.625em) {
      .project__disc-box {
        text-align: center; } }
  .project__heading {
    color: #ea002a;
    letter-spacing: 0.25rem;
    font-weight: 600;
    font-size: 3rem; }
  .project__disc {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.2rem; }
  .project:nth-child(2n) .project__img-box {
    order: 1;
    margin-right: 0;
    margin-left: 10%; }
    @media only screen and (max-width: 40.625em) {
      .project:nth-child(2n) .project__img-box {
        order: 0;
        margin-left: 0; } }

.window {
  position: relative;
  max-height: 40vw;
  padding: 5rem;
  overflow-y: scroll;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  /* Track */ }
  @media only screen and (max-width: 40.625em) {
    .window {
      padding: 5rem 0; } }
  .window::-webkit-scrollbar {
    width: 6px; }
  .window::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .window::-webkit-scrollbar-thumb {
    background-color: #ea002a; }
  .window::-webkit-scrollbar-thumb:hover {
    background: #ea002bad; }

.video {
  position: relative;
  display: flex; }
  @media only screen and (max-width: 25em) {
    .video {
      flex-direction: column;
      align-items: center; } }
  .video:not(:last-of-type) {
    margin-bottom: 3.5rem; }
    @media only screen and (max-width: 56.25em) {
      .video:not(:last-of-type) {
        margin-bottom: 5rem; } }
  .video .project__img-box {
    width: 45%;
    margin-right: 2rem !important;
    box-shadow: -20px -20px 0 -13px #ea002a, 16px 16px 0 -10px #ea002a; }
    @media only screen and (max-width: 56.25em) {
      .video .project__img-box {
        margin-right: 5rem !important; } }
    @media only screen and (max-width: 25em) {
      .video .project__img-box {
        margin-right: 0 !important; } }
  .video__disc {
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 1px; }
    @media only screen and (max-width: 56.25em) {
      .video__disc {
        align-self: center;
        width: 100%;
        font-size: 2rem;
        line-height: 3rem; } }
    @media only screen and (max-width: 40.625em) {
      .video__disc {
        align-self: flex-start; } }
    @media only screen and (max-width: 25em) {
      .video__disc {
        text-align: center; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  margin-top: 2rem;
  position: relative;
  z-index: 100; }
  .header__logo--1 {
    min-width: 25rem; }
    .header__logo--1 image {
      cursor: pointer;
      transition: all 0.1s; }
      .header__logo--1 image:hover {
        filter: invert(25%) sepia(92%) saturate(7436%) hue-rotate(343deg) brightness(88%) contrast(110%);
        transform: translateY(-1.5rem); }
    @media only screen and (max-width: 68.75em) {
      .header__logo--1 {
        min-width: 20rem;
        max-width: 30rem; } }
  .header__logo--2 {
    min-width: 10rem; }
    .header__logo--2 image {
      cursor: pointer;
      transition: all 0.1s; }
      .header__logo--2 image:hover {
        filter: invert(25%) sepia(92%) saturate(7436%) hue-rotate(343deg) brightness(88%) contrast(110%);
        transform: translateY(-1.5rem); }
    @media only screen and (max-width: 85.3em) {
      .header__logo--2 {
        display: none; } }

.nav {
  display: inline-block;
  padding: 0.5rem 3rem;
  margin-left: -4rem;
  letter-spacing: 1.5px;
  max-width: 100%;
  position: relative; }
  .nav__nav-list {
    display: flex;
    list-style: none;
    font-size: 2.2rem; }
  .nav__nav-item {
    display: inline-block; }
    .nav__nav-item:not(:last-child) {
      margin-right: 3.5rem; }
  .nav__nav-item::after {
    content: "";
    margin-top: 2px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ea002a;
    transform: scaleX(0);
    transition: all 0.3s ease; }
  .nav__nav-link:link, .nav__nav-link:visited {
    text-decoration: none;
    color: currentColor;
    transition: color 0.3s; }
  .nav__nav-item:hover {
    cursor: pointer; }
    .nav__nav-item:hover::after {
      transform: scaleX(1) translateY(3px); }
    .nav__nav-item:hover > .nav__nav-link {
      color: #ea002a;
      font-weight: 400; }
  @media only screen and (max-width: 85.3em) {
    .nav {
      padding: 0; } }
  @media only screen and (max-width: 68.75em) {
    .nav {
      display: none; } }
  @media only screen and (max-width: 78em) {
    .nav {
      padding: 0; } }

.nav-collapsed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ea002a;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all 0.2s ease; }
  .nav-collapsed:hover {
    width: 100%; }
  .nav-collapsed__nav-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    list-style: none;
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .nav-collapsed__nav-item {
    display: block;
    width: 100%; }
    .nav-collapsed__nav-item:not(:last-of-type) {
      margin-bottom: 1.5rem; }
  .nav-collapsed__nav-link:link, .nav-collapsed__nav-link:visited {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #fbfbfb;
    transition: all 0.3s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%; }
    .nav-collapsed__nav-link:link:hover, .nav-collapsed__nav-link:visited:hover {
      background-position: 100%;
      color: #ea002a;
      transform: translateX(0.5rem); }
  .nav-collapsed__nav-item:hover {
    cursor: pointer; }

.footer {
  width: 100%;
  height: 8rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: absolute;
  left: 0;
  overflow: hidden; }
  .footer__social-box {
    list-style: none;
    display: flex; }
  .footer__icon {
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    transition: all 0.2s;
    filter: invert(100%); }
    .footer__icon:not(:last-child) {
      margin-right: 1rem; }
    .footer__icon--1 {
      background-image: url(../../img/icons/facebook.svg); }
    .footer__icon--2 {
      background-image: url(../../img/icons/instagram.svg); }
    .footer__icon--3 {
      background-image: url(../../img/icons/whatsapp.svg); }
    .footer__icon:hover {
      filter: invert(100%);
      transform: scale(1.1); }
  .footer__logo {
    width: 20rem;
    height: 15rem;
    filter: invert(100%); }

.big-hero__slogan {
  width: 60%;
  font-size: 6rem;
  line-height: 7rem;
  letter-spacing: 0.25rem;
  font-weight: 400; }
  .big-hero__slogan span {
    color: #ea002a; }
  @media only screen and (max-width: 40.625em) {
    .big-hero__slogan {
      text-align: center;
      margin: 0 auto;
      font-size: 4.5rem;
      line-height: 6rem;
      max-width: 90%; } }

.big-hero__img {
  width: 40%;
  transform: translateX(20%); }
  @media only screen and (max-width: 40.625em) {
    .big-hero__img {
      display: none; } }

.general-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5rem;
  grid-gap: 5rem; }
  @media only screen and (max-width: 40.625em) {
    .general-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 25em) {
    .general-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 8rem; } }

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .grid-item__img-box {
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    box-shadow: 0 3px 6px #2a2a2e;
    overflow: hidden;
    margin-bottom: 1.5rem; }
  .grid-item__img {
    width: 100%;
    background-size: cover;
    transition: all 0.2s; }
    .grid-item__img:hover {
      transform: scale(1.05);
      filter: brightness(110%); }
  .grid-item__name {
    font-size: 2rem;
    font-weight: 300; }
  .grid-item__disc {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    color: #ea002a;
    filter: brightness(70%); }

.project-container {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 68.75em) {
    .project-container {
      margin-bottom: 17%; } }
  @media only screen and (max-width: 56.25em) {
    .project-container {
      flex-direction: column;
      align-items: center; } }

.session-container {
  display: flex;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .session-container {
      flex-direction: column;
      align-items: center; } }
  .session-container .column__left {
    width: 70%;
    margin-right: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .session-container .column__left {
        margin-right: 0; } }
    .session-container .column__left h1 {
      color: #ea002a; }
    .session-container .column__left p {
      margin-bottom: 2rem;
      width: 100%; }
    .session-container .column__left .arrow {
      margin-top: 2rem; }
  .session-container .column__right {
    width: 30%;
    align-self: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .session-container .column__right {
        align-self: center;
        width: 80%;
        margin-top: 5rem; } }
    .session-container .column__right .play-button {
      height: 3rem;
      width: 3rem; }
      .session-container .column__right .play-button .icon {
        width: 60%;
        height: 60%; }
  .session-container .window {
    width: 100%;
    height: 100%;
    min-height: 30rem;
    aspect-ratio: 16 / 9; }

.column__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-right: 6rem;
  width: 50%; }
  @media only screen and (max-width: 56.25em) {
    .column__left {
      width: 80%;
      align-items: center;
      margin-bottom: 5rem;
      margin-right: 0; } }
  .column__left h1 {
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .column__left h1 {
        text-align: center; } }
  .column__left p {
    margin-bottom: 5.5rem; }
    @media only screen and (max-width: 56.25em) {
      .column__left p {
        text-align: center;
        margin-bottom: 2rem; } }
  .column__left .arrow {
    font-size: 5rem;
    margin-top: auto; }
    .column__left .arrow__left {
      transform: translate(-50%, -50%); }

.column__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%; }
  @media only screen and (max-width: 56.25em) {
    .column__right {
      width: 70%; } }
  @media only screen and (max-width: 40.625em) {
    .column__right {
      width: 80%; } }
  .column__right .project__img-box {
    max-width: 100%;
    height: auto;
    margin-right: 0; }
  .column__right .project__img {
    width: 100%;
    height: 100%;
    background-size: cover; }

.carouselcounter-section {
  margin-top: 4rem;
  margin-bottom: 10rem; }

.posts-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-items: center;
  gap: 3rem; }

.big-hero-section {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .big-hero-section {
      margin-top: 5rem; } }

.main-section {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .main-section__intro {
    width: 100%;
    margin-bottom: 5rem; }
  .main-section__mission-vision {
    display: flex; }
    @media only screen and (max-width: 40.625em) {
      .main-section__mission-vision {
        flex-direction: column; } }
  .main-section__text {
    display: inline-block;
    font-size: 2rem;
    max-width: 60%;
    line-height: 3rem;
    opacity: 0.7; }
  @media only screen and (max-width: 78em) {
    .main-section {
      margin-top: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .main-section {
      margin-top: 0; } }
  @media only screen and (max-width: 40.625em) {
    .main-section {
      margin-top: 5rem; }
      .main-section__vision {
        margin-top: 5rem; } }

.advisors-section,
.board-section {
  text-align: center;
  margin-top: 10rem; }

.sponsers {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 7rem; }
  .sponsers__box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 7rem;
    grid-gap: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .sponsers__box {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .sponsers__box {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 40.625em) {
      .sponsers__box {
        margin-top: 10rem;
        grid-template-columns: 1fr; } }
  .sponsers__logo {
    display: inline-block; }

.header-section {
  text-align: center;
  margin-top: 7rem; }
  .header-section h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1rem;
    position: relative; }
  .header-section p {
    font-size: 2.5rem;
    font-weight: 300;
    max-width: 85%;
    margin: 0 auto; }

.cards-section {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sessions-section {
  margin-top: 15rem;
  margin-bottom: 7rem; }
  @media only screen and (max-width: 40.625em) {
    .sessions-section h2 {
      text-align: center; } }

.projects-section {
  margin: 10rem 0 8rem 0; }
  @media only screen and (max-width: 40.625em) {
    .projects-section {
      margin: 10rem 0 6rem 0; } }

.carousel-section {
  margin-top: 10rem; }

.recorded-section {
  margin-top: 8rem;
  margin-bottom: 6rem;
  position: relative; }
