/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #1c1c1c;
  padding: 1rem 15rem; }
  @media only screen and (max-width: 78em) {
    body {
      padding: 0 10rem; } }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0 4rem; } }
  @media only screen and (max-width: 40.625em) {
    body {
      padding: 0 2rem; } }

body {
  font-family: "Lato", sans-serif, sans-serif;
  color: #fbfbfb; }

.heading-secondary {
  color: #ea002a;
  font-size: 3.5rem;
  letter-spacing: 1.7px; }

.text--small {
  letter-spacing: 1.5px;
  font-size: 1.3rem;
  line-height: 2.5rem; }

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 0.25rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-xs {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.hidden {
  display: none; }

.active--link {
  color: #ea002a !important; }
  .active--link::after {
    content: "";
    margin-top: 5px !important;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ea002a;
    transform: scaleX(1) !important; }

.carousel__img-box {
  width: 100%;
  height: 45rem;
  overflow: hidden;
  border-radius: 2px; }
  @media only screen and (max-width: 40.625em) {
    .carousel__img-box {
      height: 40rem; } }

.carousel__img {
  height: 100%;
  width: 100%;
  background-size: cover; }

.carousel__navigator {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel__navigator-item {
  width: 10rem;
  height: 1rem;
  border-radius: 100px;
  background-color: #2a2a2e;
  cursor: pointer;
  transition: all 0.2s; }
  .carousel__navigator-item:not(:last-child) {
    margin-right: 3rem; }
  .carousel__navigator-item--active {
    background-color: #fbfbfb;
    cursor: default; }
  .carousel__navigator-item:not(.carousel__navigator-item--active):hover {
    background-color: #ea002a; }

.counter {
  border-top: 3px solid #2a2a2e;
  border-bottom: 3px solid #2a2a2e;
  padding: 7rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .counter {
      flex-direction: column;
      padding: 3rem 0; } }
  .counter__column {
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media only screen and (max-width: 40.625em) {
      .counter__column:not(:last-child) {
        margin-bottom: 3rem; } }
  .counter__number {
    font-size: 12rem;
    font-weight: bold; }
    @media only screen and (max-width: 40.625em) {
      .counter__number {
        font-size: 8rem; } }
  .counter__disc {
    font-size: 5rem; }
    @media only screen and (max-width: 40.625em) {
      .counter__disc {
        font-size: 3rem; } }

.post {
  width: calc(50% - 2rem);
  min-height: 20rem;
  background-color: #2a2a2e;
  padding: 8rem 3rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 1, 1, 0.7); }
  .post__panel {
    width: 100%;
    height: 80%;
    box-shadow: 0 1.5rem 1rem rgba(0, 1, 1, 0.15);
    border-radius: 10px; }
    @media only screen and (max-width: 40.625em) {
      .post__panel {
        height: 60%; } }
  .post__img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transform: translateY(2px);
    background-size: cover; }
  .post__text-container .text {
    width: 90%;
    margin-left: 3%;
    line-height: 3rem; }
  .post:nth-child(2n + 1) {
    margin-right: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .post {
      flex-direction: column;
      width: 100%; }
      .post:nth-child(2n + 1) {
        margin-right: 0; } }

.ham-btn {
  position: absolute;
  right: 0;
  height: 5rem;
  width: 5rem;
  border: 1px solid #2a2a2e;
  border-radius: 8px;
  padding: 0.5rem 0; }
  .ham-btn__line {
    position: relative;
    background-color: #fbfbfb;
    border-radius: 50px;
    width: 3rem;
    height: 2px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s; }
  .ham-btn::after, .ham-btn::before {
    content: "";
    display: block;
    background-color: #fbfbfb;
    border-radius: 50px;
    width: 3rem;
    height: 2px;
    transition: all 0.1s; }
  .ham-btn::before {
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%); }
  .ham-btn::after {
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%); }
  .ham-btn:hover .ham-btn__line {
    transform: translate(-50%, 20%) rotate(45deg); }
  .ham-btn:hover::before {
    display: none; }
  .ham-btn:hover::after {
    transform: translate(-50%, -200%) rotate(-45deg); }
  @media only screen and (max-width: 68.75em) {
    .ham-btn {
      display: inline-block; } }

.card {
  display: flex;
  max-width: 70%;
  margin: 8rem auto;
  box-shadow: 0 10px 6px #000000;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden; }
  @media only screen and (max-width: 78em) {
    .card {
      flex-direction: column; } }
  .card__left {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2e;
    padding: 3.5rem 3rem;
    width: 70%;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 100%); }
    @media only screen and (max-width: 78em) {
      .card__left {
        width: 100%; } }
  .card__right {
    display: flex;
    flex-direction: column;
    border-left: 2px dashed #fbfbfb;
    padding: 3rem;
    padding-left: 5%;
    width: 30%;
    justify-content: space-between;
    background-color: #2a2a2e; }
    @media only screen and (max-width: 78em) {
      .card__right {
        flex-direction: row;
        justify-content: space-around;
        width: 100%; } }
    @media only screen and (max-width: 40.625em) {
      .card__right {
        flex-direction: column; } }
  .card__content-box {
    text-align: left; }
    .card__content-box h3 {
      text-transform: capitalize;
      font-size: 2.75rem;
      font-weight: 400;
      letter-spacing: 0.25rem; }
    .card__content-box p {
      padding-left: 1rem;
      font-size: 1.4rem;
      font-weight: bolder;
      text-transform: capitalize; }
    @media only screen and (max-width: 40.625em) {
      .card__content-box {
        margin-top: 2rem; }
        .card__content-box:last-of-type {
          margin-bottom: 2rem; } }
  .card__heading {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }
  .card__text {
    padding-left: 2rem;
    letter-spacing: 0.08rem;
    font-size: 1.5rem;
    line-height: 2rem; }

.btn-group {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 78em) {
    .btn-group {
      flex-direction: column;
      align-items: stretch; } }

.btn, .btn:link, .btn:visited {
  text-align: center;
  border-radius: 10rem;
  outline: none;
  padding: 1rem 3rem;
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  cursor: pointer;
  position: relative; }
  @media only screen and (max-width: 78em) {
    .btn, .btn:link, .btn:visited {
      margin-top: 1.5rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 1, 1, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 1, 1, 0.2); }

.btn--red {
  background-color: #ea002a; }

.btn--white {
  background-color: #fbfbfb;
  color: #ea002a; }

.btn:not(:last-of-type) {
  margin-right: 2rem; }
  @media only screen and (max-width: 78em) {
    .btn:not(:last-of-type) {
      margin-right: 0; } }

.display-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.display-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  height: 100%;
  text-align: center; }
  .display-item__text {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    opacity: 0.7; }
  .display-item--1 {
    background: transparent linear-gradient(180deg, #3f3f3f 0%, #7e7e7e 100%) 0% 0% no-repeat padding-box; }
  .display-item--2 {
    background: transparent linear-gradient(180deg, #322f2f 0%, #4d4a4a 75%, #767474 100%) 0% 0% no-repeat padding-box; }
  .display-item--3 {
    background: transparent linear-gradient(180deg, #000000e3 0%, #040404e3 20%, #545454e3 100%) 0% 0% no-repeat padding-box; }
  .display-item:focus-within + .display-item__disc {
    display: block; }

.sessions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 6.5rem;
  padding-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .sessions-container {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 40.625em) {
    .sessions-container {
      grid-template-columns: 1fr; } }

.session-card {
  position: relative;
  width: 100%;
  height: 20vw;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 6px #000101;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .session-card {
      height: 40vw; } }
  @media only screen and (max-width: 40.625em) {
    .session-card {
      width: 70%; } }
  .session-card__img-box {
    position: relative;
    width: 100%;
    height: 100%; }
    .session-card__img-box::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 100%);
      opacity: 0.5;
      z-index: 1; }
  .session-card__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.2s; }
  .session-card__disc {
    position: absolute;
    bottom: 1.2rem;
    left: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    transform: translateY(200%);
    transition: transform 0.2s ease-out;
    background-color: rgba(0, 1, 1, 0.5);
    width: 100%;
    padding: 2rem 4rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  .session-card:hover .session-card__disc {
    transform: translate(-7%, 22%) scale(1.02); }
  .session-card:hover .session-card__img-box .session-card__img {
    transform: scale(1.05); }

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 2; }

.circle {
  background: #ea002a;
  border-radius: 50%;
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.051), 0 2.3px 5.3px rgba(0, 0, 0, 0.059), 0 4.4px 10px rgba(0, 0, 0, 0.06), 0 7.8px 17.9px rgba(0, 0, 0, 0.059), 0 14.6px 33.4px rgba(0, 0, 0, 0.059), 0 35px 80px rgba(0, 0, 0, 0.07);
  height: 8rem;
  position: absolute;
  width: 8rem; }

.play-button:active .circle {
  filter: brightness(90%); }

.icon {
  height: 20rem;
  transform: rotate(-120deg);
  transition: transform 500ms;
  width: 20rem; }

.white {
  background: white;
  height: 20rem;
  position: absolute;
  width: 20rem; }

.half--1 {
  clip-path: polygon(43.77666% 55.85251%, 43.77874% 55.46331%, 43.7795% 55.09177%, 43.77934% 54.74844%, 43.77855% 54.44389%, 43.77741% 54.18863%, 43.77625% 53.99325%, 43.77533% 53.86828%, 43.77495% 53.82429%, 43.77518% 53.55329%, 43.7754% 53.2823%, 43.77563% 53.01131%, 43.77585% 52.74031%, 43.77608% 52.46932%, 43.7763% 52.19832%, 43.77653% 51.92733%, 43.77675% 51.65633%, 43.77653% 51.38533%, 43.7763% 51.11434%, 43.77608% 50.84334%, 43.77585% 50.57235%, 43.77563% 50.30136%, 43.7754% 50.03036%, 43.77518% 49.75936%, 43.77495% 49.48837%, 44.48391% 49.4885%, 45.19287% 49.48865%, 45.90183% 49.48878%, 46.61079% 49.48892%, 47.31975% 49.48906%, 48.0287% 49.4892%, 48.73766% 49.48934%, 49.44662% 49.48948%, 50.72252% 49.48934%, 51.99842% 49.4892%, 53.27432% 49.48906%, 54.55022% 49.48892%, 55.82611% 49.48878%, 57.10201% 49.48865%, 58.3779% 49.4885%, 59.6538% 49.48837%, 59.57598% 49.89151%, 59.31883% 50.28598%, 58.84686% 50.70884%, 58.12456% 51.19714%, 57.11643% 51.78793%, 55.78697% 52.51828%, 54.10066% 53.42522%, 52.02202% 54.54581%, 49.96525% 55.66916%, 48.3319% 56.57212%, 47.06745% 57.27347%, 46.11739% 57.79191%, 45.42719% 58.14619%, 44.94235% 58.35507%, 44.60834% 58.43725%, 44.37066% 58.41149%, 44.15383% 58.27711%, 43.99617% 58.0603%, 43.88847% 57.77578%, 43.82151% 57.43825%, 43.78608% 57.06245%, 43.77304% 56.66309%, 43.773% 56.25486%);
  transition: clip-path 500ms; }

.half--2 {
  clip-path: polygon(43.77666% 43.83035%, 43.77874% 44.21955%, 43.7795% 44.59109%, 43.77934% 44.93442%, 43.77855% 45.23898%, 43.77741% 45.49423%, 43.77625% 45.68961%, 43.77533% 45.81458%, 43.77495% 45.85858%, 43.77518% 46.12957%, 43.7754% 46.40056%, 43.77563% 46.67156%, 43.77585% 46.94255%, 43.77608% 47.21355%, 43.7763% 47.48454%, 43.77653% 47.75554%, 43.77675% 48.02654%, 43.77653% 48.29753%, 43.7763% 48.56852%, 43.77608% 48.83952%, 43.77585% 49.11051%, 43.77563% 49.38151%, 43.7754% 49.65251%, 43.77518% 49.9235%, 43.77495% 50.1945%, 44.48391% 50.19436%, 45.19287% 50.19422%, 45.90183% 50.19408%, 46.61079% 50.19394%, 47.31975% 50.1938%, 48.0287% 50.19366%, 48.73766% 50.19353%, 49.44662% 50.19338%, 50.72252% 50.19353%, 51.99842% 50.19366%, 53.27432% 50.1938%, 54.55022% 50.19394%, 55.82611% 50.19408%, 57.10201% 50.19422%, 58.3779% 50.19436%, 59.6538% 50.1945%, 59.57598% 49.79136%, 59.31883% 49.39688%, 58.84686% 48.97402%, 58.12456% 48.48572%, 57.11643% 47.89493%, 55.78697% 47.16458%, 54.10066% 46.25764%, 52.02202% 45.13705%, 49.96525% 44.01371%, 48.3319% 43.11074%, 47.06745% 42.4094%, 46.11739% 41.89096%, 45.42719% 41.53667%, 44.94235% 41.3278%, 44.60834% 41.24561%, 44.37066% 41.27137%, 44.15383% 41.40575%, 43.99617% 41.62256%, 43.88847% 41.90709%, 43.82151% 42.24461%, 43.78608% 42.62041%, 43.77304% 43.01978%, 43.773% 43.428%);
  transition: clip-path 500ms; }

.project {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .project {
      flex-direction: column; } }
  .project:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 40.625em) {
      .project:not(:last-child) {
        margin-bottom: 10rem; } }
  .project__img-box {
    position: relative;
    max-width: 30rem;
    height: 100%;
    box-shadow: -50px -50px 0 -40px #ea002a, 50px 50px 0 -40px #ea002a;
    margin-right: 10%;
    overflow: hidden; }
    @media only screen and (max-width: 40.625em) {
      .project__img-box {
        margin-bottom: 6rem;
        max-width: 70%;
        margin-right: 0; } }
    .project__img-box::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to top left, rgba(0, 1, 1, 0.3) 0%, rgba(0, 1, 1, 0.3) 25%, rgba(0, 1, 1, 0.2) 25%, rgba(0, 1, 1, 0.2) 50%, rgba(0, 1, 1, 0.1) 50%, rgba(0, 1, 1, 0.1) 75%, rgba(0, 1, 1, 0.05) 75%, rgba(0, 1, 1, 0.05) 100%);
      opacity: 0.7;
      z-index: 1; }
    .project__img-box:hover > img {
      transform: scale(1.05);
      filter: brightness(130%); }
  .project__img {
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all 0.2s; }
  .project__disc-box {
    width: 80%; }
    @media only screen and (max-width: 40.625em) {
      .project__disc-box {
        text-align: center; } }
  .project__heading {
    color: #ea002a;
    letter-spacing: 0.25rem;
    font-weight: 600;
    font-size: 3rem; }
  .project__disc {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.2rem; }
  .project:nth-child(2n) .project__img-box {
    order: 1;
    margin-right: 0;
    margin-left: 10%; }
    @media only screen and (max-width: 40.625em) {
      .project:nth-child(2n) .project__img-box {
        order: 0;
        margin-left: 0; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  margin-top: 2rem;
  position: relative;
  z-index: 100; }
  .header__logo--1 {
    min-width: 25rem; }
    .header__logo--1 image {
      cursor: pointer;
      transition: all 0.1s; }
      .header__logo--1 image:hover {
        filter: invert(25%) sepia(92%) saturate(7436%) hue-rotate(343deg) brightness(88%) contrast(110%);
        transform: translateY(-1.5rem); }
    @media only screen and (max-width: 68.75em) {
      .header__logo--1 {
        min-width: 20rem;
        max-width: 30rem; } }
  .header__logo--2 {
    min-width: 10rem; }
    .header__logo--2 image {
      cursor: pointer;
      transition: all 0.1s; }
      .header__logo--2 image:hover {
        filter: invert(25%) sepia(92%) saturate(7436%) hue-rotate(343deg) brightness(88%) contrast(110%);
        transform: translateY(-1.5rem); }
    @media only screen and (max-width: 85.3em) {
      .header__logo--2 {
        display: none; } }

.nav {
  display: inline-block;
  padding: 0.5rem 3rem;
  margin-left: -4rem;
  letter-spacing: 1.5px;
  max-width: 100%; }
  .nav__nav-list {
    display: flex;
    list-style: none;
    font-size: 2.2rem; }
  .nav__nav-item {
    display: inline-block; }
    .nav__nav-item:not(:last-child) {
      margin-right: 3.5rem; }
  .nav__nav-item::after {
    content: "";
    margin-top: 2px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ea002a;
    transform: scaleX(0);
    transition: all 0.3s ease; }
  .nav__nav-link:link, .nav__nav-link:visited {
    text-decoration: none;
    color: currentColor;
    transition: color 0.3s; }
  .nav__nav-item:hover {
    cursor: pointer; }
    .nav__nav-item:hover::after {
      transform: scaleX(1) translateY(3px); }
    .nav__nav-item:hover > .nav__nav-link {
      color: #ea002a;
      font-weight: 400; }
  @media only screen and (max-width: 85.3em) {
    .nav {
      padding: 0; } }
  @media only screen and (max-width: 78em) {
    .nav {
      padding: 0; } }
  @media only screen and (max-width: 68.75em) {
    .nav {
      display: none; } }

.footer {
  width: 100%;
  height: 8rem;
  background-color: #ea002a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: absolute;
  left: 0;
  margin-top: 5rem;
  overflow: hidden; }
  .footer__social-box {
    list-style: none;
    display: flex; }
  .footer__icon {
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    transition: all 0.2s; }
    .footer__icon:not(:last-child) {
      margin-right: 1rem; }
    .footer__icon--1 {
      background-image: url(../../img/icons/facebook.svg); }
    .footer__icon--2 {
      background-image: url(../../img/icons/instagram.svg); }
    .footer__icon--3 {
      background-image: url(../../img/icons/whatsapp.svg); }
    .footer__icon:hover {
      filter: invert(100%);
      transform: scale(1.1); }
  .footer__logo {
    width: 20rem;
    height: 15rem; }

.big-hero__slogan {
  max-width: 50%;
  font-size: 6rem;
  line-height: 7rem;
  letter-spacing: 0.25rem;
  font-weight: 400; }
  .big-hero__slogan span {
    color: #ea002a; }
  @media only screen and (max-width: 40.625em) {
    .big-hero__slogan {
      text-align: center;
      margin: 0 auto;
      font-size: 4.5rem;
      line-height: 6rem;
      max-width: 90%; } }

.big-hero__img {
  width: 50%;
  transform: translateX(20%); }
  @media only screen and (max-width: 40.625em) {
    .big-hero__img {
      display: none; } }

.general-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5rem;
  grid-gap: 5rem; }
  @media only screen and (max-width: 40.625em) {
    .general-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 25em) {
    .general-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 8rem; } }

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .grid-item__img-box {
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    box-shadow: 0 3px 6px #2a2a2e;
    overflow: hidden;
    margin-bottom: 1.5rem; }
  .grid-item__img {
    width: 100%;
    background-size: cover;
    transition: all 0.2s; }
    .grid-item__img:hover {
      transform: scale(1.05);
      filter: brightness(110%); }
  .grid-item__name {
    font-size: 2rem;
    font-weight: 300; }
  .grid-item__disc {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    color: #ea002a;
    filter: brightness(70%); }

.carouselcounter-section {
  margin-top: 4rem;
  margin-bottom: 10rem; }

.posts-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.big-hero-section {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .big-hero-section {
      margin-top: 5rem; } }

.main-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -8rem; }
  .main-section__intro {
    width: 100%;
    margin-bottom: 5rem; }
  .main-section__mission-vision {
    display: flex; }
    @media only screen and (max-width: 40.625em) {
      .main-section__mission-vision {
        flex-direction: column; } }
  .main-section__text {
    display: inline-block;
    font-size: 2rem;
    max-width: 60%;
    line-height: 3rem;
    opacity: 0.7; }
  @media only screen and (max-width: 78em) {
    .main-section {
      margin-top: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .main-section {
      margin-top: 0; } }
  @media only screen and (max-width: 40.625em) {
    .main-section {
      margin-top: 5rem; }
      .main-section__vision {
        margin-top: 5rem; } }

.advisors-section,
.board-section {
  text-align: center;
  margin-top: 10rem; }

.sponsers {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10rem 0; }
  .sponsers__box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 7rem;
    grid-gap: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .sponsers__box {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .sponsers__box {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 40.625em) {
      .sponsers__box {
        margin-top: 10rem;
        grid-template-columns: 1fr; } }
  .sponsers__logo {
    display: inline-block; }

.header-section {
  text-align: center;
  margin-top: 7rem; }
  .header-section h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1rem; }
  .header-section p {
    font-size: 2.5rem;
    font-weight: 300;
    max-width: 85%;
    margin: 0 auto; }

.cards-section {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sessions-section {
  margin-top: 15rem;
  margin-bottom: 7rem; }
  @media only screen and (max-width: 40.625em) {
    .sessions-section h2 {
      text-align: center; } }

.projects-section {
  margin: 10rem 0 8rem 0; }
  @media only screen and (max-width: 40.625em) {
    .projects-section {
      margin: 10rem 0 6rem 0; } }
