$color-primary-1: #ea002a;
$color-secondary: #2a2b2f;

$color-white: #fbfbfb;

$color-grey-1: #1c1c1c;
$color-grey-2: #2a2a2e;

$color-black: #000101;

$font-primary: "Lato", sans-serif;
$font-secondary: sans-serif;

$box-shadow-1: 3px 3px 6px #4a4a4af2;
$box-shadow-2: 3px 3px 6px $color-black;

$filter-primary: invert(25%) sepia(92%) saturate(7436%) hue-rotate(343deg)
  brightness(88%) contrast(110%);

$letter-spacing-heading: 1rem;
$letter-spacing-sub-heading: 0.5rem;
