//// PROJECT CONTAINER
.project-container {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 10rem;

  @include respond(in-between-tab) {
    margin-bottom: 17%;
  }

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }
}

//// SESSION CONTAINER
.session-container {
  display: flex;
  margin-bottom: 5rem;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }

  /// LEFT COLUMN
  & .column {
    &__left {
      width: 70%;
      margin-right: 4rem;

      @include respond(tab-port) {
        margin-right: 0;
      }

      h1 {
        color: $color-primary-1;
      }

      p {
        width: 100%;
        margin-bottom: 2rem;
      }

      & .arrow {
        margin-top: 2rem;
      }
    }

    /// RIGHT COLUMN
    &__right {
      align-self: flex-start;
      width: 30%;

      @include respond(tab-port) {
        align-self: center;
        width: 80%;
        margin-top: 5rem;
      }

      & .play-button {
        width: 3rem;
        height: 3rem;

        .icon {
          width: 60%;
          height: 60%;
        }
      }
    }
  }

  & .window {
    width: 100%;
    height: 100%;
    min-height: 30rem;
    aspect-ratio: 16 / 9;
  }
}

/// COLUMN
.column {
  // LEFT
  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    margin-right: 6rem;

    @include respond(tab-port) {
      width: 80%;
      align-items: center;
      margin-bottom: 5rem;
      margin-right: 0;
    }

    h1 {
      text-align: left;

      @include respond(tab-port) {
        text-align: center;
      }
    }

    p {
      margin-bottom: 5.5rem;

      @include respond(tab-port) {
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    & .arrow {
      margin-top: auto;
      font-size: 5rem;

      &__left {
        transform: translate(-50%, -50%);
      }
    }
  }

  // RIGHT
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @include respond(tab-port) {
      width: 70%;
    }

    @include respond(phone) {
      width: 80%;
    }

    & .project {
      &__img-box {
        max-width: 100%;
        height: auto;
        margin-right: 0;
      }

      &__img {
        width: 100%;
        height: 100%;

        background-size: cover;
      }
    }
  }
}
