.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  margin-top: 2rem;
  position: relative;

  &__logo {
    &--1 {
      min-width: 25rem;
    }

    &--2 {
      min-width: 10rem;

      @media only screen and (max-width: 85.3em) {
        display: none;
      }
    }
  }
}
