.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  height: 10rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  &__logo-box {
    &--1 {
      height: 100%;
    }
    &--2 {
      height: 100%;
    }
  }

  &__logo {
    &--1 {
      height: 100%;
    }

    &--2 {
      height: 100%;
    }
  }
}
