.nav {
  //   background-color: $color-primary-1;
  display: inline-block;
  padding: 0.5rem 3rem;
  //   border-radius: 100px;
  letter-spacing: 1.5px;
  &__nav-list {
    display: flex;
    list-style: none;
    font-size: 2.2rem;
  }

  &__nav-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 4.3rem;
    }
  }

  &__nav-link:link,
  &__nav-link:visited {
    text-decoration: none;
    color: currentColor;
    transition: color 0.2s;
  }

  &__nav-link:hover {
    color: $color-primary-1;
    font-weight: 400;
  }
}
