//// BUTTON GROUP
.btn-group {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 82em) {
    flex-direction: column;
    align-items: stretch;
  }
}

//// BTN CLASSES
.btn {
  /// GENERAL BTN STYLES
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 10rem;
    outline: none;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;

    @media only screen and (max-width: 82em) {
      margin-top: 1.5rem;
    }
  }

  /// GENERAL HOVER STYLES
  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-3px);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  /// GENERAL ACTIVE AND FOCUS STYLES
  &:active,
  &:focus {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    outline: none;
    transform: translateY(-1px);
  }

  /// RED BUTTON
  &--red {
    background-color: $color-primary-1;
    color: $color-white;
  }

  /// WHITE BUTTON
  &--white {
    background-color: $color-white;
    color: $color-primary-1;
  }

  &:not(:last-of-type) {
    margin-right: 2rem;

    @media only screen and (max-width: 82em) {
      margin-right: 0;
    }
  }
}

/// ARROW BUTTON STYLES
.arrow {
  &,
  &:link,
  &:visited {
    position: relative;
    width: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: $color-white;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
  }

  &__left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }

  &__right {
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    transform: translate(62%, -50%);
  }

  &:hover {
    background-color: $color-white;
    color: $color-primary-1;
  }

  &:active {
    filter: brightness(0.8);
    transform: translateY(2px);
  }
}
