.ham-btn {
  position: absolute;
  right: 0;
  height: 5rem;
  width: 5rem;
  border: 1px solid $color-grey-2;
  border-radius: 8px;
  padding: 0.5rem 0;

  &__line {
    position: relative;
    background-color: $color-white;
    border-radius: 50px;
    width: 3rem;
    height: 2px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    background-color: $color-white;
    border-radius: 50px;
    width: 3rem;
    height: 2px;
    transition: all 0.1s;
  }

  &::before {
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover &__line {
    transform: translate(-50%, 20%) rotate(45deg);
  }

  &:hover::before {
    display: none;
  }

  &:hover::after {
    transform: translate(-50%, -200%) rotate(-45deg);
  }

  @include respond(in-between-tab) {
    display: inline-block;
  }
}
