.ham-btn {
  position: fixed;
  right: 3rem;
  top: 4rem;
  height: 5rem;
  width: 5rem;
  border-radius: 8px;
  padding: 0.5rem 0;
  z-index: 1000;
  cursor: pointer;

  &__line {
    position: relative;
    background-color: $color-white;
    border-radius: 50px;
    width: 3.5rem;
    height: 4.5px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    background-color: $color-white;
    border-radius: 50px;
    width: 3.5rem;
    height: 4.5px;
    transition: all 0.1s;
  }

  &::before {
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  @include respond(in-between-tab) {
    display: inline-block;
  }
}

.ham-btn--toggled {
  .ham-btn__line {
    transform: translate(-50%, 20%) rotate(45deg);
  }

  &::before {
    display: none;
  }

  &::after {
    transform: translate(-50%, -145%) rotate(-45deg);
    height: 3.5px;
  }
}
