.ham-btn {
  position: absolute;
  right: 0;
  height: 90%;
  //   background-color: azure;
  border: 1px solid $color-grey-2;
  border-radius: 8px;
  padding: 2rem 1.5rem;

  &__line {
    position: relative;
    background-color: $color-white;
    border-radius: 50px;
    width: 7rem;
    height: 3px;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    background-color: $color-white;
    border-radius: 50px;
    width: 7rem;
    height: 3px;
  }

  &::before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    position: relative;
    top: 67%;
    height: 3.5px;
  }

  &:hover &__line {
    transform: rotate(45deg);
    top: 40%;
  }

  &:hover::before {
    display: none;
  }

  &:hover::after {
    transform: rotate(-45deg);
    top: 32%;
  }

  @media only screen and (max-width: 68.75em) {
    display: inline-block;
  }
}
