.sessions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  gap: 6.5rem;

  padding-top: 5rem;

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.session-card {
  position: relative;
  width: 100%;
  height: 20vw;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $box-shadow-3--light;
  cursor: pointer;

  @include respond(tab-port) {
    height: 40vw;
  }

  @include respond(phone) {
    width: 70%;
  }

  &__img-box {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-image: linear-gradient(
        to top left,
        rgba(white, 0.4) 0%,
        rgba(white, 0.4) 25%,
        rgba(white, 0.3) 25%,
        rgba(white, 0.3) 50%,
        rgba(white, 0.2) 50%,
        rgba(white, 0.2) 75%,
        rgba(white, 0.1) 75%,
        rgba(white, 0.1) 100%
      );
      opacity: 0.5;
      z-index: 1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.2s;
  }

  &__disc {
    position: absolute;
    bottom: 1.2rem;
    left: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    transform: translateY(200%);
    transition: transform 0.2s ease-out;

    background-color: rgba($color-black, $alpha: 0.5);
    width: 100%;
    padding: 2rem 4rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  & {
    &:hover &__disc {
      transform: translate(-7%, 22%) scale(1.02);
    }

    &:hover &__img-box &__img {
      transform: scale(1.05);
    }
  }
}
