body {
  background-color: $color-grey-1;
}

.carouselcounter-section {
  margin-top: 21rem;
  margin-bottom: 10rem;
}

.posts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
