.carousel-section {
  margin-top: 10rem;
}

.recorded-section {
  margin-top: 10rem;
  position: relative;

  //   & .window {
  //     display: grid;
  //     grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  //     gap: 5rem;
  //     justify-content: center;
  //     justify-items: center;
  //     align-items: center;

  //     @include respond(phone) {
  //       grid-template-columns: 1fr;
  //     }
  //   }
}
